<%- include('../_partials/header') %>
<div class="container my-3">
    <h2>Sukces</h2>

    <div class="alert alert-success">
        <%= message %>
    </div>
    
</div>
<%- include('../_partials/footer') %>
