<%- include('../_partials/header') %>
<div class="container my-3">
    <% if (typeof error !== "undefined" && error) { %>
        <div class="alert alert-danger">
            <%= error %>
        </div>
    <% } else if (typeof success !== "undefined" && success) { %>
        <div class="alert alert-success">
            Pomyślnie zweryfikowano adres Email
        </div>
    <% } %>
</div>
<%- include('../_partials/footer') %>