<%- include('../../_partials/header') %>
<div class="container my-3">
    <h2>Odzyskiwanie hasła</h2>

    <% if (typeof success !== "undefined" && success) { %>
        <div class="alert alert-success">
            Pomyślnie wysłano email z linkiem do resetowania hasła.
        </div>
    <% } %>

    <% if (typeof error !== "undefined" && error) { %>
        <div class="alert alert-danger">
            <%= error %>
        </div>
    <% } %>

    <form method="post">
        <div>
            <label class="form-label" for="email">Adres email</label>
            <input class="form-control" type="email" id="email" name="email" placeholder="john.doe@example.com">
            <p class="form-text">Na podany adres email zostanie wysłany link resetujący hasło.</p>
        </div>

        <button class="btn btn-primary">Resetuj hasło</button>
    </form>
</div>
<%- include('../../_partials/footer') %>