<li class="nav-item">
    <a class="nav-link" href="/admin/schools">Szkoły</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/admin/users">Użytkownicy</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/admin/announcements">Ogłoszenia</a>
</li>