<!doctype html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Banasiowe Trolololo</title>
    <link href="/dist/styles.css" rel="stylesheet">
</head>
<body class="bg-light">
    <%- include('navbar') %>
    <div class="page-container">