<nav class="navbar bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            Rekrutacja
        </a>
        <div>
            <a href="/auth/login" class="btn btn-outline-light">Zaloguj</a>
            <a href="/auth/register" class="btn btn-primary">Zarejestruj się</a>
        </div>
    </div>
</nav>